// ==========================================================================
// Variables
// ==========================================================================

// ***
// Static
// ***

$main-bg: #f8f8f8;
$selection-color: #d0e4ef;
$selection-text-color: #4a4a4a;
$font-size: 1rem;
$line-height: 1.6;
$text-align: center;
$default-text-color: #212121;

// ***
// Fonts
// ***

$font: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// ***
// Breakpoints
// ***

$breakpoint-1: 1200px;
$breakpoint-2: 750px;
$breakpoint-3: 500px;

// ***
// Colors
// ***

